In [ ]:
import pandas as pd

df = pd.read_csv('EnjoySport.csv',index_col='Example')

df.head()

           Sky AirTemp Humidity    Wind Water Forecast EnjoySport
Example
1        Sunny    Warm   Normal  Strong  Warm     Same        Yes
2        Sunny    Warm     High  Strong  Warm     Same        Yes
3        Rainy    Cold     High  Strong  Warm   Change         No
4        Sunny    Warm     High  Strong  Cool   Change        Yes

In [ ]:
pos = df[df.EnjoySport == "Yes"].drop(['EnjoySport'],axis=1)

pos.head()

           Sky AirTemp Humidity    Wind Water Forecast
Example
1        Sunny    Warm   Normal  Strong  Warm     Same
2        Sunny    Warm     High  Strong  Warm     Same
4        Sunny    Warm     High  Strong  Cool   Change

In [ ]:
h = ['%','%','%','%','%','%']
print(h)

h = pos.iloc[0].tolist()
print(h)

for i,d in pos.iloc[1:].iterrows():
  for j in range(len(d)):
    if h[j] != d[j]:
      h[j] = '?'
  print(h)

['%', '%', '%', '%', '%', '%']
['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', 'Strong', '?', '?']