In [ ]:
import pandas as pd

df = pd.read_csv('PlayTennis.csv')

df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [ ]:
def p_xc(X,c=None):
  P = 1
  df_c = df[df['Play Tennis'] == c].drop('Play Tennis', axis=1) if c else df.drop('Play Tennis', axis=1)
  for i in range(len(X)):
    P = P * df_c[df_c.iloc[:,i] == X[i]].shape[0]/df_c.shape[0]
  return P

def p_c(c):
  return df[df['Play Tennis'] == c].shape[0]/df.shape[0]

def naive_bayes(X):
  p_cx = (p_xc(X,'Yes')*p_c('Yes'))/p_xc(X)
  return 'Yes' if p_cx >= 0.5 else 'No'

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train,y_train,X_test,y_test = train_test_split(X,y,test_size=0.8)

y_pred = []

for i,_y in y_train.iterrows():
  y_pred.append(naive_bayes(_y))

print(accuracy_score(y_test,y_pred))

0.75